.login{
    background-color: rgb(31, 45, 40);
    width: fit-content;
    padding: 1em;
    border-radius: 1em;
    color : white ;
    margin: auto;
}

body {
background-color: grey;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}